
<!-- Navigation Start -->

<nav class="navbar navbar-custom navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
          <div>
            {{ site.title }}
          </div>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav collapse navbar-collapse navbar-left navbar-main-collapse">
      
      {% if page.section-type == "index" %}
        <li><a class="btn page-scroll" role="button" href="#about">abt</a></li>

        <li><a class="btn page-scroll" role="button" href="#latest-post">blg</a></li>
      {% else %}
        <li><a class="btn" role="button" href="{{ site.baseurl }}/#about">abt</a></li>

        <li><a class="btn" role="button" href="{{ site.baseurl }}/#latest-post">blg</a></li>
      {% endif %}

      <li><a class="btn" role="button" href="{{ site.baseurl }}/design">dsgn</a></li>
      

    </ul>
      <ul class="nav navbar-nav collapse navbar-collapse navbar-right navbar-main-collapse social">
      {% for app in site.social %}
    <li><a class="btn btn-link" role="button" href="{{ app.url }}" target="_blank"><i class="fa fa-{{ app.network }} fa-lg"></i> {{ app.title }}</a></li>
    {% endfor %}
      </ul>
  </div>
</nav>

<!-- Navigation End -->
